body { 
  background: #efe5d0 url(images/1.1.jpg) top left;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           20px;
}
h1 {
  font-size:        220%;
  color:            #954b4b;
}
h2 {
  font-size: 110%; 
}
div#tableContainer {
	display: table;
	border-spacing: 10px;
  background-color: rgb(255, 242, 204);
}
div.tableRow {
	display: table-row;
}
div.tableRow p {
	display: table-cell;
	vertical-align: top;
  /* 垂直向上对齐 */
	padding: 3px;
}
div.tableRow p:first-child {
	text-align: right;
  /* 右对齐 */
}
p.heading {
	font-weight: bold;
}
#nav {
  background-color: rgb(255, 191, 0);
margin: 0%; 
}
#nav ul {
	margin: 0px;
    list-style-type:none;
    display: flex;
}
#nav ul li {
	 display: inline; 
	 padding: 5px 130px 5px 140px; 
    justify-content: center;
    align-items: center;
    /* margin: 5px 140px 5px 140px; */
}
#nav ul li a:link,nav ul li a:visited{
color: rgb(0, 0, 0);
  text-decoration: none;
font-weight: bold;
}
.selected {
background-color: #ffffff;
}
#nav ul li a:hover {
  background: #f88396;
  color: #ffffff;
}
