
h2{
  font-size:  150%;
  color:           rgb(0, 0, 0);
  font-weight: bolder;
  text-align: center;
}
.image-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(255,242,204);
  margin: 0px;
}
.image-container img{
  flex: 1;
  width: 133px;
  height: auto;
  margin: 20px 40px 20px 40px ;
  border: 2px solid black;
}